*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background: rgba( 19, 19, 171, 0.9);
}
.container{
    width: 80%;
    margin:  80px auto;
}
.container, h1{
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 50px;
}
.feature_image{
    width: 80%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.small_img_row{
    display: flex;
    background: #efefef;
    margin: 20px;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 80%;

}
